<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context">




    <!-- Bean definitions -->
    <bean id="bookRepository" class="com.cognizant.LibraryManagement.repository.BookRepository" />

    <!-- Constructor Injection -->
    <bean id="bookService" class="com.cognizant.LibraryManagement.service.BookService">
        <constructor-arg ref="bookRepository" />
        <property name="bookRepository" ref="bookRepository"/> <!-- Optional setter injection -->
    </bean>

</beans>


        <!--for exrecise 6 (annotations configuration)-->

        <!--        <?xml version="1.0" encoding="UTF-8"?>-->
        <!--<beans xmlns="http://www.springframework.org/schema/beans"-->
        <!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
        <!--       xmlns:context="http://www.springframework.org/schema/context"-->
        <!--       xsi:schemaLocation="-->
        <!--           http://www.springframework.org/schema/beans-->
        <!--           https://www.springframework.org/schema/beans/spring-beans.xsd-->
        <!--           http://www.springframework.org/schema/context-->
        <!--           https://www.springframework.org/schema/context/spring-context.xsd">-->


        <!--<context:component-scan base-package="com.cognizant.LibraryManagement"/>-->

        <!--</beans>-->